body {
    font-family: "Lato", sans-serif;
    margin-left: 0;
}

h1 {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#data {
    margin-left: 50px;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 18px;
}

input {
    font-size: 16px;
}

.form {
    margin-left: 20px;
    width: 400px;
}

.generate {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #212529;
  background: #212529;
}

.generate:hover {
  background: #fff;
  color: #212529
}

li {
    margin: 5px;
    display: inline;
}
